.carousel-template {
  .item {
    .img {
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 18px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
      &::before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        display: block;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        transform: skewX(-25deg);
        transition: all 0.75s;
      }
    }
    &:hover {
      .img {
        img {
          animation: zommImg 5s linear;
        }
        &::before {
          left: 125%;
          z-index: 3;
        }
      }
    }
  }
  .slick-dots {
    bottom: -56px;
  }
  .slick-dots li button:before {
    width: 10px;
    height: 10px;
    line-height: 1;
    font-size: 10px;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
  }
  .slick-dots li.slick-active button:before {
    color: $brand-color;
  }
  .slick-dots li:hover button:before {
    color: $brand-color;
  }
  .slick-prev::before {
    content: url(../images/icons/left.svg);
  }
  .slick-arrow {
    opacity: 1;
    background-color: unset !important;
    box-shadow: unset !important;
  }
  .slick-next::before {
    content: url(../images/icons/right.svg);
  }
}
