@import "./mixin";
.sidebar {
  h4 {
    margin-bottom: 39px;
  }
  .widget_title {
    position: relative;
    &::after {
      content: url(../images/icons/down.svg);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.product-wrapper {
  --bs-gutter-x: 70px;
}
.shop_container {
  --bs-gutter-x: 39px;
  --bs-gutter-y: 40px;
}
.item-box-style {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .img {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    @include flash-img;
  }
  .desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &:hover {
    .img {
      @include flash-img-hover;
    }
  }
  .item-actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    .choose-quantity {
      flex-grow: 1;
      display: flex;
      align-items: center;
      input {
        max-width: 44px;
        text-align: center;
      }
      .btn-minus,
      .btn-plus {
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
      }
      .btn-minus {
        width: 44px;
        height: 44px;
        background-image: url(../images/icons/minus.svg);
      }
      .btn-plus {
        width: 44px;
        height: 44px;
        background-image: url(../images/icons/plus.svg);
      }
    }
    .btn {
      padding: 12px 26px;
      text-wrap: nowrap;
    }
  }
}
