@import "./mixin";
.sidebar {
  h4 {
    margin-bottom: 39px;
  }
  .widget_title {
    position: relative;
    &::after {
      content: url(../images/icons/down.svg);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.product-wrapper {
  --bs-gutter-x: 70px;
}
.shop_container {
  --bs-gutter-x: 39px;
  --bs-gutter-y: 40px;
}
