@import "./vavaiable";
.heading_h2 {
  text-align: left;
  text-transform: none !important;
  font-family: Work Sans;
}

.table > :not(caption) > * > * {
  background-color: transparent !important;
  border-bottom: 1px solid #cccccc !important;
  padding-right: 8px;
  padding-left: 8px;
}
.table tr th:first-child,
.table tr td:first-child {
  padding-left: 0px;
}
.table tr th:last-child,
.table tr td:last-child {
  padding-right: 0px;
}
.table tr:last-child th,
.table tr:last-child td {
  border-bottom: none !important;
}
.shop_cart_table th,
.shop_cart_table td {
  font-weight: 500;
  color: #666666;
  text-align: left !important;
}
.section-shopping-cart {
  .container .row {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    margin-bottom: 42px;
  }
  .list-product {
    min-width: 891px;
    margin: 0 auto !important;
  }
  .cart-total-wrapper {
    max-width: 349px;
    .cart-total {
      background-color: $ec-bg;
      border: unset !important;
      border-radius: 8px;
    }
    h4 {
      font-weight: 600;
      padding-bottom: 16px;
      border-bottom: 1px solid #cccccc;
    }
    .table th,
    .table td {
      border-bottom: none !important;
    }
    .cart_total_amount {
      text-align: right !important;
    }
    tfoot {
      tr td {
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .subheading_h5 {
        font-weight: 600;
      }
    }
    tbody {
      border-bottom: 1px solid #cccccc;
      tr:last-child td {
        padding-bottom: 24px;
      }
      tr:first-child td {
        padding-top: 24px;
      }
      td {
        font-size: 16px;
      }
    }
    .btn-checkout {
      width: 100%;

      &:hover {
        &::before,
        &::after {
          background-color: $brand-color !important;
        }
      }
    }
    .btn-checkout::before,
    .btn-checkout::after {
      background-color: $dark-bg !important;

      font-weight: 600 !important;
    }
  }
  td {
    font-size: 18px;
  }
  .product-thumbnail {
    img {
      border-radius: 8px;
      overflow: hidden;
    }
  }
  .shop_cart_table td.product-price,
  .shop_cart_table td.product-subtotal {
    font-weight: 400;
  }
  .product-quantity {
    .quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }
    input[type="button"] {
      margin: 0;
      padding: 0;
      border-radius: 50%;
      background-color: #cccccc;
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
    input[type="text"] {
      border: 1px solid #cccccc;
      height: 28px;
      width: 50px;
    }
  }
  .product-remove {
    text-align: right !important;
    &:hover {
      path {
        fill: darkred !important;
      }
    }
  }
}
